<div class="inner-content">
	<h1>Login</h1>
	<div>
		<%= p @error %>
	</div>
		<form action="/users/login" method="post">
		<input type="text" name="username" placeholder="Username"/>
		<input type="password" name="password" placeholder="Password"/>
		<input type="submit" value="Login"/>
		</form>
</div>

