
h2 {
  font-size: 200%;
  color: rgb(15, 168, 58);
  text-align: center;
}

b {
  font-weight: bolder;
}

#filmstockquartet {
  text-align: center;
}

#form {
  text-align: center;
}

#headerdiv {
  width: 900px;
  height: 40;
  padding: 5px;
  border-style: dotted;
  border-color: rgb(203, 214, 204);
  border-width: 10px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5px;
  margin-bottom: 30px;
}
