<div class="container">
	
	<img id="filmstockquartet" src="../images_site/012-film-stock-gallery-800px.jpg">
	
	<h3 class="header">Header</h3>

	  <a class="home-nav" href="/photos"> Home</a>


  <a class="right-nav" href="/users/login"> Login</a>
  <a class="right-nav" href="/users/new"> Sign Up</a>
